RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^public/(.*)$ /web/public/$1 [L,QSA]

RewriteCond %{REQUEST_URI} ^/$
RewriteRule (.*) /web/index.php [L]
RewriteRule (.*) /web/index.php/$1 [L]